.navContainer {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.navItemsContainer {
  height: 100%;
  width: 100%;
  background-color: #2767f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem {}

a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}